@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main-header{
  font-family: 'Montserrat', sans-serif;
}


body{
  background-color: #212121 !important;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(79, 159, 52);
  padding: 20px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.btn{
  margin-top: 20px;
}